/* Table of Contents
==================================================
    #Basic
    #Typography
    #Links
    #Site Styles
*/

/* #Basic
================================================== */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body { height: 100%; overflow: hidden; }

.wrapper {
    height:100%;
    position:relative;
    margin: 0 auto -55px;
    border:1px solid red;
}
body {
    padding:0;  margin:0;
    font-family: Arial, Tahoma, sans-serif;
    color: #666666;
    font-family: 'ralewaysemibold', Arial, Tahoma, sans-serif;
    font-size: 13px;
}

.main_header {
    background-color: #000;
    height:48px;
    display:block;
    width:100%;
    position: fixed;
}
.main_section {
    width:80%;
    display: inline-block;
    float: left;
    height:100%;
}
.edit_panel {
    background-color: pink;
    height:100%;
    width:20%;
    display:inline-block;
}

.clear { clear: both;}
footer.main_footer {
    background-color: #000;
    width: 100%;
    height:50px;
    position:relative;
    bottom: 55px;

}
footer.main_footer, .push {
    height: 55px;
    clear: both;
}
 /*.block:before{ content: ''; clear: both; display: block; }*/
 /*.right {float: right; }*/
 /*.left  {float: left; }*/
 /*.clear { clear: both;}*/

/*.main_sprite {*/
    /*background-image: url('../images/main_sprite.png');*/
    /*background-repeat: no-repeat;*/
    /*background-clip: border-box;*/
/*}*/

/*.main_width{*/
    /*width:980px;*/
    /*margin:0 auto;*/
/*}*/
/* #Links*/
/*================================================== */
    /*a {*/
        /*text-decoration: none;*/
        /*color: #fff;*/
        /*transition: text-shadow 0.2s ease-in-out 0s;*/
     /*}*/
    /*.main_header a,*/
    /*.main_footer a{*/
            /*transition: text-shadow 0.2s ease-in-out 0s;*/
     /*}*/
    /*.main_header a:hover,*/
    /*.main_footer a:hover{*/
        /*text-shadow: 0px 0px 3px #fff;*/
        /*text-shadow: 2px 2px 0px #eee, 1px 1px 0px #707070;*/
        /*text-shadow: 0 0 10px #fefcc9, 5px -5px 20px #d09bde, -10px -10px 30px #8e48a0*/
    /*}*/

/* #Typography*/
/*================================================== */
   /*.data_text .day{*/
       /*font-family: 'ralewayheavy', Arial, Tahoma, sans-serif;*/
   /*}*/

    /*.right_site h2 {*/
        /*font-family: 'ralewayextrabold';*/
    /*}*/
    /*.data_text .month,*/
    /*.data_time .time,*/
    /*.left_side p,*/
    /*.left_side .read_more,*/
    /*.right_site h1,*/
    /*.right_site p{*/
        /*font-family: 'ralewayregular', Arial, Tahoma, sans-serif;*/
    /*}*/
    /*.data_text .year {*/
        /*font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;*/
    /*}*/


/* #Site*/
/*================================================== */
/*HEADER*/
    /*.main_header {*/
        /*background-color: #000;*/
        /*height: 48px;*/
        /*width:100%;*/
    /*}*/
        /*.main_header .logo {*/
            /*display: inline-block;*/
            /*width:60px;*/
            /*height: 58px;*/
            /*background: url("../images/yep_logo.png") no-repeat;*/
        /*}*/
        /*.main_header nav {*/
            /*vertical-align: top;*/
            /*display: inline-block;*/
            /*padding-top:18px;*/
        /*}*/
        /*.main_header nav ul {*/
            /*margin:0; padding:0;*/
            /*list-style: none;*/
        /*}*/
            /*.main_header nav ul li{*/
               /*display: inline-block;*/
               /*padding-left:10px;*/
            /*}*/
        /*.panel_login {*/
            /*float: right;*/
            /*padding-top:18px;*/
            /*margin-right:10px;*/
        /*}*/
    /*.header_pattern{*/
        /*width:100%;*/
        /*height: 12px;*/
        /*background: url("../images/bg_header.jpg") repeat-x;*/
    /*}*/

/*SECTION*/
    /*.main_section {*/
        /*height:200px;*/
        /*background: #ececec; *//* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MiUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
        /*background: -moz-linear-gradient(top,  #ececec 281px #ffffff 281px); *//* FF3.6+ */
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(281px,#ececec), color-stop(281px,#ffffff)); *//* Chrome,Safari4+ */
        /*background: -webkit-linear-gradient(top,  #ececec 281px,#ffffff 281px); *//* Chrome10+,Safari5.1+ */
        /*background: -o-linear-gradient(top,  #ececec 281px,#ffffff 281px); *//* Opera 11.10+ */
        /*background: -ms-linear-gradient(top,  #ececec 281px,#ffffff 281px); *//* IE10+ */
        /*background: linear-gradient(to bottom,  #ececec 281px,#ffffff 281px); *//* W3C */
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 ); *//* IE6-8 */
     /*}*/
/*.edit_panel {*/
    /*float:right;*/
    /*width:20%;*/
    /*background-color: lightpink;*/

/*}*/

    /*.main_section article {*/
        /*padding-top:40px;*/
    /*}*/

    /*LEFT SIDE*/
    /*.main_section article .left_side{*/
        /*width: 300px; height: 100%;*/
        /*display: inline-block;*/
        /*left:40px;*/
        /*z-index:10;*/
        /*position:relative;*/
        /*background-color: #fff;*/
         /*border-radius: 6px;*/
        /*-webkit-box-shadow: 0 0.5px 2px rgba(0,0,0,.36);*/
        /*-moz-box-shadow: 0 0.5px 2px rgba(0,0,0,.36);*/
        /*box-shadow: 0 0.5px 2px rgba(0,0,0,.36);*/
        /*text-align: center;*/
        /*padding-bottom:5px;*/
        /*margin-bottom:20px;*/
    /*}*/
        /*.main_section article .left_side .bell_up {*/
            /*width:100%;*/
            /*height:10px;*/
            /*border-top-left-radius: 6px;*/
            /*border-top-right-radius: 6px;*/
            /*text-align: center;*/
            /*box-shadow: 0 3px 2px -2px rgba(0,0,0,.36);*/
            /*position:relative;*/
        /*}*/
            /*.arrow_down {*/
                /*width: 0;*/
                /*height: 0;*/
                /*border-left: 9px solid transparent;*/
                /*border-right: 9px solid transparent;*/
                /*border-top: 9px solid  #00b4da;*/
                /*position:relative;*/
                /*top:18px;*/
                /*box-shadow: 0 3px 2px -2px rgba(0,0,0,.36);*/
            /*}*/
    /*.main_section article .left_side .event_img {*/
        /*height:230px;*/
        /*width:100%;*/
        /*overflow: hidden;*/
    /*}*/
    /*.main_section article .left_side .user_img_bg {*/
        /*background-color: #fff;*/
        /*border-radius:50%;*/
        /*height:100px;*/
        /*width:100px;*/
        /*margin:-56px auto 0 auto;*/
        /*position:relative;*/
        /*text-align: center;*/
        /*transition: background 0.2s ease-in-out 0s;*/
    /*}*/
    /*.main_section article .left_side .user_img_bg:hover {*/
        /*background-color:#e9f4f6;*/
    /*}*/
        /*.frame{*/
            /*display:inline-block;*/
            /*position:relative;*/
            /*overflow:hidden;*/
            /*margin-top:10px;*/
        /*}*/
            /*.frame>img{*/
                /*vertical-align:top;*/
            /*}*/
            /*.frame img {*/
                /*height:80px;*/
            /*}*/
                /*.frame, .frame:before{*/
                    /*-moz-border-radius:100em;*/
                    /*border-radius:100em;*/
                /*}*/
                /*.frame>img{*/
                    /*-webkit-border-radius:100em;*/
                /*}*/
                /*.frame:before{*/
                    /*content:'';*/
                    /*display:block;*/
                    /*position:absolute;*/
                    /*left:0;*/
                    /*right:0;*/
                    /*width:100%;*/
                    /*height:100%;*/
                    /*margin:-10em;*/
                    /*border:10em solid #fff;*/
                /*}*/
                /*.frame{*/
                    /*cursor: pointer;*/
                /*}*/

    /*.data_text {*/
        /*padding-left:10px;*/
        /*display: inline-block;*/
        /*color: #006f87;*/
        /*text-align: center;*/
    /*}*/
        /*DAY*/
        /*.data_text .day{*/
            /*display: block;*/
            /*font-size: 36px;*/
            /*line-height:35px;*/
        /*}*/
        /*MONTH*/
        /*.data_text .month{*/
            /*display: block;*/
            /*line-height:16px;*/
            /*font-size: 24px;*/
        /*}*/
        /*YEAR*/
        /*.data_text .year{*/
            /*display: block;*/
            /*font-size: 18px;*/
        /*}*/
    /*.text_time {*/
        /*display: inline-block;*/
        /*color: #006f87;*/
        /*vertical-align:top;*/
        /*margin-top: 17px;*/
        /*padding-left:33px;*/
    /*}*/
        /*TIME*/
        /*.text_time .time{*/
            /*font-size: 36px;*/
        /*}*/

    /*.left_side p {*/
        /*text-align: center;*/
        /*font-size: 12px;*/
        /*color: #464646;*/
        /*padding:0 15px;*/
    /*}*/
    /*.left_side .read_more {*/
        /*color: #00b4da;*/
        /*font-size: 12px;*/
        /*cursor:pointer;*/
        /*transition: color 0.2s ease-in-out 0s;*/
    /*}*/
    /*.left_side .read_more:hover {*/
        /*color:#006f87;*/
    /*}*/

    /*.left_side hr {*/
        /*border: 0;*/
        /*height: 1px;*/
        /*background-color: #ececec;*/
        /*width:90%;*/
    /*}*/
    /*.text_bottom_left {*/
        /*text-align: left;*/
        /*padding:0 15px;*/
        /*float: left;*/
    /*}*/
    /*.left_side .text_category {*/
        /*color: #9a9a9a;*/
        /*text-align:left;*/
        /*font-size: 12px;*/
    /*}*/
    /*.cat_italic {*/
        /*font-style: italic;*/
        /*color:#9A9A9A;*/
        /*transition: color 0.2s ease-in-out 0s;*/
     /*}*/
        /*.cat_italic:hover {*/
            /*color:#006f87;*/
        /*}*/
    /*.text_bottom_right {*/
        /*text-align: right;*/
        /*padding:0 15px;*/
        /*float: right;*/
        /*color: #006f87;*/
    /*}*/
    /*.text_comment {*/
        /*padding-right:10px;*/
        /*cursor:pointer;*/
    /*}*/
    /*.text_view {*/
        /*cursor: pointer;*/
    /*}*/

    /*RIGHT SIDE*/
    /*.right_site {*/
        /*display: inline-block;*/
        /*vertical-align: top;*/
        /*padding-left:80px;*/
        /*width: 550px;*/
        /*padding-bottom:20px;*/
    /*}*/
        /*.right_site_up {*/
            /*height:190px;*/
        /*}*/

        /*.right_site h1 {*/
            /*font-size: 28px;*/
            /*color: #393939;*/
            /*line-height:32px;*/
            /*margin: 5px 0 0 0;*/
        /*}*/
        /*.right_site h2 {*/
            /*font-size: 18px;*/
            /*margin-top: 10px;*/
            /*color: #393939;*/
            /*line-height:24px;*/
        /*}*/
        /*.right_site hr {*/
            /*border: 0;*/
            /*height: 1px;*/
            /*background-color: #cbcbcb;*/
        /*}*/
        /*.right_site p {*/
            /*font-size: 18px;*/
            /*color: #898888;*/
            /*line-height:26px;*/
            /*margin:10px 0;*/
        /*}*/

        /*.members h3 {*/
            /*margin-top:40px;*/
        /*}*/
        /*.members .att {*/
            /*background: #f7f7f7; *//* Old browsers */
            /*background: -moz-linear-gradient(top,  #f7f7f7 0%, #f2f2f2 100%); *//* FF3.6+ */
            /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f2f2f2)); *//* Chrome,Safari4+ */
            /*background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%); *//* Chrome10+,Safari5.1+ */
            /*background: -o-linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%); *//* Opera 11.10+ */
            /*background: -ms-linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%); *//* IE10+ */
            /*background: linear-gradient(to bottom,  #f7f7f7 0%,#f2f2f2 100%); *//* W3C */
            /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f2f2f2',GradientType=0 ); *//* IE6-9 */
            /*cursor: pointer;*/
            /*border-radius: 6px;*/
            /*border: 1px solid #E5E5E5;*/
            /*display: inline-block;*/
            /*color: #777777;*/
            /*font-family: arial;*/
            /*font-size: 11px;*/
            /*font-weight: bold;*/
            /*padding: 6px 14px;*/
            /*text-decoration: none;*/
            /*text-shadow: 1px 1px 0px #ffffff;*/
            /*display: inline-block;*/
            /*margin:2px 2px 2px 0 ;*/
            /*transition: background 0.2s ease-in-out 0s;*/
        /*}*/
        /*.members .att:hover {*/
            /*background: #fff;*/
        /*}*/


        /*JOIN TO THIS EVET BUTTOn*/
        /*.button:before {*/
            /*content: attr(data-icon);*/
            /*margin-right: 6px;*/
        /*}*/
        /*.button.green {*/
            /*background-color: #00B4DA;*/
            /*color: #fff !important;*/
        /*}*/
        /*.button.green:hover {*/
            /*background-color: #59d2eb;*/
        /*}*/
        /*.button {*/
            /*-moz-user-select: none;*/
            /*border-radius: 6px 6px 6px 6px;*/
            /*top:15px;*/
            /*color: #666666 !important;*/
            /*display: inline;*/
            /*font-size: 24px ;*/
            /*padding:10px 30px;*/
            /*position: relative;*/
            /*text-decoration: none;*/
            /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
            /*transition: background 0.2s ease-in-out 0s;*/
        /*}*/




    /*footer.main_footer {*/
        /*background-color: #000;*/
        /*width:100%;*/
        /*position:relative;*/
        /*padding:20px 0;*/
        /*color: #fff;*/
    /*}*/
        /*footer.main_footer .copyright {*/
            /*float :left;*/
            /*font-size: 11px;*/
        /*}*/
        /*footer.main_footer .footer_menu {*/
            /*float :right;*/
            /*font-size: 11px;*/
        /*}*/
            /*footer.main_footer .footer_menu nav a:after {*/
                    /*content: '/';*/
                    /*display: inline-block;*/
                    /*color: #fff;*/
                    /*padding-right:5px;*/
                    /*padding-left:5px;*/
            /*}*/
        /*footer.main_footer, .push {*/
            /*height: 55px;*/
             /*clear: both;*/
        /*}*/
    /*COLORS AND ICONS*/
    /*.arrow_left, .arrow_right {*/
        /*position:absolute;*/
        /*top:10px;*/
        /*z-index:-1;*/
        /*padding:8px;*/
        /*cursor: pointer;*/
        /*border-radius: 4px;*/
        /*background-color: #00B4DA;*/
        /*transition: background 0.2s ease-in-out 0s;*/
    /*}*/
      /*.arrow_left:hover, .arrow_right:hover{*/
        /*background-color: #59d2eb;*/
     /*}*/
    /*.arrow_left {*/
        /*left:-25px;*/
    /*}*/
    /*.arrow_right{*/
        /*right:-25px;*/
    /*}*/
        /*.icon-right-dir, .icon-left-dir {*/
            /*font-size: 20px;*/
            /*color: #fff;*/
        /*}*/
        /*.icon-right-dir {*/
            /*position:relative;*/
            /*left:9px;*/
        /*}*/
        /*.icon-left-dir{*/
            /*position:relative;*/
            /*right:9px;*/
        /*}*/

    /*.icon-down-dir {*/
        /*color: #fff;*/
        /*font-size: 15px;*/
        /*cursor: pointer;*/
        /*position: relative; top: 2px;*/
        /*transition: color 0.2s ease-in-out 0s;*/
    /*}*/
        /*.icon-down-dir:hover {*/
            /*color: #ececec;*/
        /*}*/
    /*.icon-comment-alt { font-size: 11px;}*/
    /*.icon-eye { font-size: 13px; position: relative; top: 2px;}*/

    /*.icon-comment-alt, .icon-eye{*/
        /*color: #00B4DA;*/
        /*cursor:pointer;*/
        /*transition: color 0.2s ease-in-out 0s;*/
    /*}*/
    /*.icon-comment-alt:hover, .icon-eye:hover {*/
        /*color: #59d2eb;*/
    /*}*/
    /*.color_blue {*/
        /*color: #00B4DA;*/
        /*background-color: #00B4DA;*/
    /*}*/